body{
    > header{ 
        background-color: #fff;
        height: 60px;
        width: 1440px;
        overflow: hidden;
        nav{
            h2{
                font-family: 'Charmonman', cursive;
                font-weight: bold;
            }
        }
    }
}