@import 'header';

html{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: green;
    font-family: 'Roboto', sans-serif;

    h1, h2, h3{
        font-family: 'Charmonman', cursive;
    }

    > footer{
        background-color: blueviolet;
    }
}