@import "variables";
@import "header";
@import "footer";
@import "banner";
@import "nosso_amor";

html, body, ul {
    padding: 0;
    margin: 0;
}

button{
    outline: none;
    border: none;
}

body {
    font-family: "Roboto", sans-serif;

    h1,
    h2,
    h3 {
        font-family: "Charmonman", cursive;
    }
}

.container {
    position: relative;
    width: 100vw;
    max-width: 900px;
    padding: 0 16px;
    margin: 0 auto;
}
