@import "header";
@import "footer";

html {
    padding: 0;
    margin: 0;
}
button{
    outline: none;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: green;
    font-family: "Roboto", sans-serif;

    h1,
    h2,
    h3 {
        font-family: "Charmonman", cursive;
    }
}
