body > header {
  width: 100vw;
  height: 60px;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  background: #f1f1f1;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2; }
  body > header button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    display: none;
    z-index: 10; }
    @media (max-width: 768px) {
      body > header button {
        display: block;   }
}
  body > header nav {
    text-align: center; }
    @media (max-width: 768px) {
      body > header nav {
        display: none;   }
}
      @media (min-width: 769px) {
        body > header nav {
          display: block !important;   }
}
  body > header ul {
    list-style: none; }
    body > header ul li {
      display: inline;
      margin: 0 10px;
      font-size: 20px;
      line-height: 40px; }
      body > header ul li a {
        font-family: "Charmonman", cursive;
        font-weight: bold;
        text-decoration: none;
        color: #242424; }
        body > header ul li a:hover {
          text-decoration: underline; }
          body > header ul li a.is_disabled {
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.5;
            text-decoration: none; }
            body > header ul li a.is_disabled:hover {
              text-decoration: none; }

footer {
  width: 100vw;
  height: 415px;
  background: #7c2a2e; }
  footer div h3 {
    width: 247px;
    height: 56px;
    padding-top: 47px;
    font-weight: bold;
    font-size: 30px;
    line-height: 57px;
    color: #ffffff;
    margin: 0; }
    footer div button {
      height: 53px;
      color: #000000;
      background: #c4c4c4;
      margin: 0 auto;
      font-size: 18px;
      padding: 0 32px; }
      footer div button svg {
        margin-right: 20px; }
  footer div ul {
    width: 376px;
    height: 180px;
    padding-top: 17px;
    margin: 0px 0px;
    font-size: 18px;
    line-height: 21px;
    padding: 0px 0px; }
    footer div ul li {
      list-style: none;
      margin-bottom: 15px; }
      footer div ul li a {
        color: #ffffff;
        text-decoration: none; }

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.63);   }
    80%, 100% {
      opacity: 0;
      transform: scale(1);   }
}

#banner > .container {
  position: relative;
  width: 100vw;
  max-width: 900px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box; }
  #banner > .container > img {
    width: 1031px;
    height: auto;
    border-radius: 50%;
    border: 50px solid #92e3b2;
    box-sizing: border-box;
    transform: translateX(-188px);
    z-index: -2; }
    #banner > .container .yellow_circle {
      position: absolute;
      top: 550px;
      right: 0px;
      width: 360px;
      height: 360px;
      border-radius: 50%;
      background: #ecef49;
      padding: 50px 60px;
      box-sizing: border-box;
      text-align: center; }
      #banner > .container .yellow_circle span {
        font-family: Charmonman;
        font-size: 25px;
        display: block; }
        #banner > .container .yellow_circle h2 {
          text-align: right;
          display: inline-block;
          font-family: Roboto;
          font-size: 60px;
          line-height: 65px;
          font-weight: 700;
          display: inline-block;
          letter-spacing: -1px;
          margin: 0 20px 0 0; }
          #banner > .container .yellow_circle h2 span {
            font-family: Roboto;
            font-size: 60px;
            line-height: 65px;
            display: block; }
      #banner > .container .yellow_circle > div {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: 2;
        animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }
        #banner > .container .yellow_circle img {
          position: absolute;
          top: -47px;
          width: 700px;
          z-index: 2;
          left: -267px;
          border: none;
          border-radius: 0px; }

#nosso-amor header h1 {
  font-family: Charmonman;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 91px;
  display: flex;
  align-items: center; }
#nosso-amor .container > div {
  display: flex; }
  #nosso-amor .container > div:nth-child(1) > div:first-child {
    flex: 0 1 35%; }
    #nosso-amor .container > div:nth-child(1) > div:first-child .yellow_circle {
      width: 360px;
      height: 360px;
      background: #ecef49;
      transform: translateX(-46px); }
  #nosso-amor .container > div:nth-child(1) > div:last-child {
    flex: 1 0 auto; }

#carrinho {
  position: sticky;
  top: 0;
  padding: 18px 40px;
  margin: 0 auto;
  background-color: #f1f1f1;
  z-index: 5; }

  #lista_presentes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    #lista_presentes > div {
      flex: 1 0 auto;
      width: 250px;
      background-image: linear-gradient(white 190px, #919191);
      border: 1px solid #919191;
      margin: 15px;
      position: relative;
      border-radius: 5px;
      overflow: hidden; }
      #lista_presentes > div img {
        width: 100%;
        height: auto;
        margin-top: 10px; }
        #lista_presentes > div > div {
          padding: 20px;
          padding-bottom: 60px;
          text-align: center; }
          #lista_presentes > div h3 {
            font-size: 14px; }
            #lista_presentes > div span {
              font-family: Roboto;
              font-size: 20px;
              font-weight: 700;
              display: block; }
              #lista_presentes > div button {
                background: #427757;
                box-shadow: 0 2px #2f553e;
                color: white;
                cursor: pointer;
                padding: 10px 20px;
                font-size: 18px;
                display: inline-block;
                border-radius: 10px;
                transition: 0.2s all;
                margin-top: 20px; }
                #lista_presentes > div button:hover {
                  background: #55976f;
                  transform: translateY(-2px);
                  box-shadow: 0 4px #2f553e; }
                  #lista_presentes > div button.adicionado {
                    background-color: #ccc;
                    box-shadow: 0 -4px #969696, inset 0 0 10px 2px #969696;
                    color: #000; }
                    #lista_presentes > div button.adicionado:hover {
                      transform: none; }

.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(47, 85, 62, 0.6);
  z-index: 99; }
  .modal_wrap .cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
    .modal_wrap > section {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 500px;
      padding: 20px;
      background-color: white; }

#convite {
  text-align: center;
  margin: 30px;
  padding: 30px;
  border: 1px solid #ccc; }
  #convite button {
    padding: 25px 60px;
    font-size: 18px; }

html, body, ul {
  padding: 0;
  margin: 0; }

  button {
    outline: none;
    border: none; }

    body {
      font-family: "Roboto", sans-serif; }
      body h1, body h2, body h3 {
        font-family: "Charmonman", cursive; }

.container {
  position: relative;
  width: 100vw;
  max-width: 900px;
  padding: 0 16px;
  margin: 0 auto; }
  .container main > section {
    padding-top: 90px;
    padding-bottom: 30px; }
    .container main > section:first-child {
      padding-top: 0;
      padding-bottom: 30px; }

#nosso-amor .yellow_circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #ecef49;
  padding: 80px 40px;
  box-sizing: border-box;
  margin: 0 42px; }
  #nosso-amor div p {
    text-align: right;
    width: 388px;
    margin: 20px auto; }
    #nosso-amor div .green_circle {
      width: 457px;
      height: 457px;
      left: 713px;
      border-radius: 50%;
      background: #92e3b2;
      padding: 80px 40px;
      box-sizing: border-box;
      margin: 20px 42px; }

#versiculo .vcl {
  margin: 0 auto;
  width: 593px;
  height: 204px;
  font-family: Charmonman;
  font-weight: bold;
  font-size: 38px;
  line-height: 50px;
  align-items: center;
  letter-spacing: 0.05em;
  color: #0c0c0c; }

#gift {
  display: flex; }
  #gift img {
    width: 322px;
    height: 246px;
    transform: rotate(-15deg); }
    #gift div .um {
      width: 469px;
      height: 73px;
      background: #ecef49;
      border: 3px solid #9d9f37;
      box-shadow: inset 0px -5px 4px rgba(0, 0, 0, 0.5);
      border-radius: 11px;
      margin: 20px auto;
      font-family: Charmonman;
      font-weight: bold;
      font-size: 30px;
      line-height: 18px; }
  #gift div .dois {
    width: 199px;
    height: 49px;
    background: #92e3b2;
    border: 3px solid #5eaa7c;
    box-shadow: inset 0px -5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    margin-right: 23px;
    font-size: 16px;
    line-height: 18px; }
  #gift div .tres {
    width: 247px;
    height: 49px;
    background: #d44b51;
    border: 3px solid #7c2a2e;
    box-shadow: inset 0px -5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 11px;
    margin: 10px auto;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #ffffff; }

#flower > div img {
  width: 279px;
  height: 190px;
  margin: 0 auto; }

#save > div {
  height: 364px;
  background: #c4c4c4;
  padding: 80px 40px;
  box-sizing: border-box;
  margin: 20px 42px; }

#nossas-aventuras > div h3 {
  position: absolute;
  width: 581px;
  height: 75px;
  font-family: Charmonman;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 91px;
  display: flex;
  align-items: center;
  color: #000000; }
  #nossas-aventuras > div p {
    height: 46px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000; }

#breve {
  text-align: center;
  padding-bottom: 150px;
  padding-top: 50px; }

  #final {
    margin: 0px; }
    #final div {
      display: inline; }
      #final div p {
        height: 35px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.07em; }
        #final div h2 {
          height: 48px;
          font-family: Charmonman;
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 18px;
          align-items: center;
          text-align: center;
          font-feature-settings: "cpsp" on; }
    #final div {
      align-items: center; }
      #final div h3 {
        font-family: Roboto;
        font-style: italic;
        font-weight: bold;
        font-size: 68px;
        line-height: 18px;
        text-align: center;
        color: #7c2a2e;
        text-shadow: 0px 4px 4px #ecef49; }
