{% extends 'base.html' %}
{% block title %}- Página Inicial{% endblock %}
{% block content %}

<section id="ajude">
    <p>Você pode ajudar de várias maneiras, a primeira delas é</p>
    <h3>ORANDO POR NÓS</h3>
    <p>A segunda forma de ajudar é financeiramente, que pode ser transferindo com o nosso Pix:</p>
    <img src="static/img/pix.jpg" alt="pix@filipelopes.love">
    <h3>ou pela chave pix@filipeelore.love</h3>
    <p>Ou você pode nos doar os valores referente aos presentes</p>
    <h3>Veja nossa <a href="presentes">lista de presentes</a></h3>
</section>

{% endblock %}