<div id="corina"></div>

<div id="envio_mensagens" class="modal">
    <button class="close">X</button>
    <header>
        <h1>Envie sua mensagem</h1>
        <p>Gostaríamos de poder chamar e falar com todos, mas infelizmente nem sempre é possível. Preencha os campos abaixo para nos enviar uma mensagem e expressar seus desejos e bençãos para nós! Ficaremos felizes!</p>
    </header>
    <div>
        <form>
            <input placeholder="Nome completo, ex.: Roberto e família" name="nome">
            <input type="email"
        </form>
    </div>
</div>

<div id="mensagem_enviada" class="modal">
    <button class="close">X</button>
    <header>
        <h1>Mensagem enviada com sucesso!</h1>
    </header>
    <div>
        <p>A mensagem foi enviada! Agradecemos seu carinho</p>
        <button>Nos envie um presente também 😊!</button>
    </div>
</div>

<div id="carrinho" class="modal">
    <button class="close">X</button>
</div>

<div id="presente_comprado" class="modal">
    <button class="close">X</button>
    <header>
        <h1>Presente enviado com sucesso!</h1>
    </header>
    <div>
        <p>Obrigado por colaborar com a gente nesse momento tão difícil! Ficamos felizes pelo nosso presente! Que o SENHOR te acrescente mais e mais!</p>
    </div>
</div>
