{% extends 'base.html' %} {% block title %}- Convidados{% endblock %} {% block
content %}
<section>
  <br /><br />
  <br /><br />
  <br /><br />
  <div class="lateral_appendix" id="qrcode_appendix">
    <button>QR CODE</button>
    <div id="qrcode_img"></div>
  </div>
  <div class="lateral_appendix" id="convite_appendix">
    <button>CONVITE</button>
    <div id="convite_img">
      <img src="/static/img/convite_quadrado.png" />
    </div>
  </div>
  <h1>
    {{estatisticas.total_convidados}} convidados ({{estatisticas.total_convidados_confirmados}} confirmados)
    <button id="mais_informacoes_convidados_bt">Mais informações</button>
  </h1>
  <div id="mais_informacoes_convidados_div">
    <p>
      Média de convidados por convite:
      {{estatisticas.media_convidados_por_convite}}
    </p>
    <div class="charts">
      <div id="chart_noivos_geral" class="chart"></div>
      <div id="chart_categorias_geral" class="chart"></div>
    </div>
    <div class="charts">
      {% for nome, dados in estatisticas.noivos.items() %}
      <div>
        <h2>{{nome}}</h2>
        <div id="noivo_{{dados.id}}_chart" class="chart"></div>
      </div>
      {% endfor %}
    </div>
  </div>
  <table id="convidados" class="display">
    <thead>
      <tr>
        <th>Nome</th>
        <th>N</th>
        <th>N (C)</th>
        <th>Noivo</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for convidado in convidados %}
      <tr>
        <td>{{convidado.nome}}</td>
        <td>{{convidado.numero_convidados}}</td>
        <td>{{convidado.confirmou_presenca_numero or 0}}</td>
        <td>{{convidado.noivo.nome}}</td>
        <td>{{convidado.categoria.nome}}</td>
        <td class="acoes">
          <div><button class="copiar_texto" data-numero_convites="{{convidado.numero_convidados}}"
              data-nome="{{convidado.nome}}" data-uuid="{{convidado.convite_uuid}}">Copiar Convite</button><button class="gerar_qrcode" data-uuid="{{convidado.convite_uuid}}">Gerar QRCODE</button></div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
    window.onload = function () {
      var generalOptions = {
        type: "doughnut",
        startAngle: 60,
        innerRadius: 90,
        indexLabelFontSize: 12,
        indexLabel: "{label} - #percent%",
        toolTipContent: "<b>{label}:</b> {y} (#percent%)",
      }

      var noivosGeralChart = new CanvasJS.Chart("chart_noivos_geral", {
        data: [{
          ...generalOptions,
          showInLegend: true,
          dataPoints: [
            {% for nome, dados in estatisticas.noivos.items() %}
                        { y: parseInt('{{dados.total}}'), label: "{{nome}}", name: "{{nome}}" },
        {% endfor %}
                    ],
    }],
        });

    var categoriaGeralChart = new CanvasJS.Chart("chart_categorias_geral", {
      data: [{
        ...generalOptions,
        dataPoints: [
          {% for nome, numero in estatisticas.categorias.items() %}
                        { y: parseInt('{{numero}}'), label: "{{nome}}" },
      {% endfor %}
                    ],
                }],
        });

    var noivoCharts = []
    {% for nome, dados in estatisticas.noivos.items() %}
    noivoCharts.push(new CanvasJS.Chart("noivo_{{dados.id}}_chart", {
      data: [{
        ...generalOptions,
        dataPoints: [
          {% for nome, numero in dados.categorias.items() %}
                        { y: parseInt('{{numero}}'), label: "{{nome}}" },
      {% endfor %}
                    ],
                }],
        }))
    {% endfor %}

    categoriaGeralChart.render();
    noivosGeralChart.render();
    noivoCharts.forEach(function (noivoChart) {
      noivoChart.render()
    })
    }
  </script>
  <textarea id="copiar_texto">Convidamos *{nome}* para celebrar conosco o nosso casamento, no dia *7 de Março de 2021* às *9:30* da manhã. Local: *Rancho Realize Eventos. Av. Antônio Sérgio Carneiro, 5938 - Feira de Santana/BA*

  _{numero_convites} convite(s)_
  Confirme sua presença em {link}
  </textarea>
</section>
{% endblock %}