{% extends 'base.html' %}
{% block title %}- Convidados{% endblock %}
{% block content %}
<section id="convite">
    <div>
        <img src="/static/img/convite_quadrado.png">
    </div>
    <div>
        <p>"Porque dele, e por meio dele, e para ele são todas as coisas. A ele, pois, a glória eternamente. Amém!" Rm
            11:36</p>
        <p>Convite de</p>
        <h2>{{convidado.nome}}</h2>
        <form id="confirma_presenca" type="post" action="/confirma_presenca">
            <input type="number" step="1" min="1" max="{{convidado.numero_convidados}}" value="{{convidado.numero_convidados}}"> convites
            <button type="submit">Confirmar Presença de <span>{{convidado.numero_convidados}}</span> pessoas</button>
        </form>
    </div>
</section>
{% endblock %}