{% extends 'base.html' %}
{% block title %}- Convidados{% endblock %}
{% block content %}
<section>
    <br><br>
    <br><br>
    <br><br>
    <table id="convidados" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>N</th>
                <th>Noivo</th>
            </tr>
        </thead>
        <tbody>
            {% for convidado in convidados %}
        <tr>
            <td>{{convidado.nome}}</td>
            <td>{{convidado.numero_convidados}}</td>
            <td>{{convidado.noivo.nome}}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Nome</th>
                <th>N</th>
                <th>Conjuge</th>
            </tr>
        </tfoot>
    </table>

</section>
{% endblock %}