{% extends 'base.html' %}
{% block title %}- Página Inicial{% endblock %}
{% block content %}

<section id="banner">
    <div class="container">
        <img src="static/img/IMG_4743-min.jpg" alt="Compromisso_1">
        <div class="yellow_circle">
            <img src="/static/img/aliancas.png" />
            <div></div>
            <span>Save the date</span>
            <h2><span>07 MARÇO</span>2021</h2>
        </div>
    </div>
</section>

<section id="welcome">
    <div id="logo">
        <div>
            <div class="circle green" data-paroller-factor="0.01" data-paroller-type="foreground"></div>
            <div class="circle yellow" data-paroller-factor="0.05" data-paroller-type="foreground"></div>
            <div class="circle green" data-paroller-factor="0.1" data-paroller-type="foreground"></div>
        </div>
        <div>
            <img src="static/img/custom-logo.png">
            <div class="circle green" data-paroller-factor="0.05" data-paroller-type="foreground"></div>
            <div class="circle green" data-paroller-factor="0.025" data-paroller-type="foreground"></div>
            <div class="circle yellow" data-paroller-factor="0.1" data-paroller-type="foreground"></div>
            <div class="circle yellow" data-paroller-factor="-0.05" data-paroller-type="foreground"></div>
        </div>
        <div>
            <div class="circle green" data-paroller-factor="0.005" data-paroller-type="foreground"></div>
            <div class="circle yellow" data-paroller-factor="0.05" data-paroller-type="foreground"></div>
            <div class="circle yellow" data-paroller-factor="0.075" data-paroller-type="foreground"></div>
            <div class="circle green" data-paroller-factor="0.1" data-paroller-type="foreground"></div>
        </div>
    </div>
    <h3>Vamos casar!!</h3>
    <h1>Filipe Lopes &</h1>
    <h1>Lorena Guedes</h1>
    <p>"Porque dele, e por meio dele, e para ele são todas as coisas. A ele, pois, a glória eternamente. Amém!" Rm 11:36
    </p>
</section>

<section id="contagem_regressiva">
    <h3>Faltam</h3>
    <div id="relogio_contagem_regressiva"></div>
</section>

<section id="gift">
    <div>
        <a href="ajude"><button class="um" type="button">Ajude-nos a casar</button></a><br />
        <a href="ajude"><button class="dois" type="button">Faça-nos uma doação</button></a>
        <a href="presentes"><button class="tres" type="button">Veja nossa lista</button></a>
    </div>
    <img src="static/img/gift.png" alt="gift">
</section>

<section id="breve">
    <p>Em Breve mais conteúdo sobre nós em nosso site.</p>
</section>

{% endblock %}