{% extends 'base.html' %}
{% block title %}- Página Inicial{% endblock %}
{% block content %}

<section id="banner">
    <div class="container">
        <img src="static/img/IMG_4743-min.jpg" alt="Compromisso_1">
        <div class=yellow_circle>
            <h2>13.03.2021</h2>
            <a href="#save-the-date"><button type="button">Save the date</button></a>
        </div>
    </div>
</section>

<section id="nosso-amor">
    <div class="container">
        <header>
            <h1>Nosso Amor</h1>
        </header>
        <div>
            <div>
                <div class="yellow_circle"></div>
            </div>
            <div class="text">
                <p class="styled">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies lacus
                    auctor mattis euismod.</p>
                <p>Integer arcu mauris, porttitor sed enim sed, eleifend aliquam sapien. Quisque tristique ex in
                    elementum dignissim. Maecenas imperdiet aliquam sem, egestas sagittis lectus mollis ut. Sed ipsum
                    nibh, feugiat ac pulvinar et, ornare eu dolor. Donec euismod ligula ut erat elementum laoreet. Duis
                    malesuada cursus molestie. Nulla facilisi. Vivamus nunc ante, mattis sed mattis et, suscipit eu
                    velit. Phasellus ultricies fringilla eros at lobortis. Pellentesque fringilla tincidunt nisi, vel
                    dapibus nulla malesuada a. Cras iaculis vestibulum elementum. Nam a mauris vel eros dignissim
                    egestas eu sit amet lectus. Suspendisse potenti. Donec convallis, augue ut porttitor mollis, lorem
                    arcu viverra eros, eu elementum ipsum nulla quis ipsum.
                </p>
            </div>
        </div>
        <div>
            <div class="text">
                <p>Integer arcu mauris, porttitor sed enim sed, eleifend aliquam sapien. Quisque tristique ex in
                    elementum dignissim. Maecenas imperdiet aliquam sem, egestas sagittis lectus mollis ut. Sed ipsum
                    nibh, feugiat ac pulvinar et, ornare eu dolor. Donec euismod ligula ut erat elementum laoreet. Duis
                    malesuada cursus molestie. Nulla facilisi. Vivamus nunc ante, mattis sed mattis et, suscipit eu
                    velit. Phasellus ultricies fringilla eros at lobortis. Pellentesque fringilla tincidunt nisi, vel
                    dapibus nulla malesuada a. Cras iaculis vestibulum elementum. Nam a mauris vel eros dignissim
                    egestas eu sit amet lectus. Suspendisse potenti. Donec convallis, augue ut porttitor mollis, lorem
                    arcu viverra eros, eu elementum ipsum nulla quis ipsum.
                </p>
                <p class="styled">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies lacus
                    auctor mattis euismod.</p>
            </div>
            <div class="green_circle"></div>
        </div>

    </div>
</section>
<section id="versiculo"><svg width="100" height="155" viewBox="0 0 100 155" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M80.01 115C80.01 137.091 62.1014 155 40.01 155C17.9186 155 0.00999807 137.091 0.0100098 115C0.0100455 47.5 25.5003 25.4998 43.0003 7.5C43.0003 7.5 49.0003 11.5 55.0003 15.5003C28.5003 43.5 14.5198 67.4995 40.01 74.9999C65.5003 82.5003 80.01 92.9085 80.01 115Z"
            fill="#C4C4C4" />
        <path
            d="M100 53.2034C100 64.1367 91.0457 73 80 73C68.9543 73 60 64.1367 60 53.2034C60 19.7966 72.7451 8.90839 81.4951 0C81.4951 0 84.4951 1.97966 87.4951 3.95947C74.2451 17.817 67.2549 29.6947 80 33.4067C92.7451 37.1188 100 42.27 100 53.2034Z"
            fill="#C4C4C4" />
    </svg>
    <div>
        <p class="vcl">Até aqui tem nos ajudado o SENHOR, por isso estamos alegres</p>
    </div>
</section>
<section id=>
    <img src="static/img/gift.png" alt="gift">
    <a href="#ajude-nos_a_casar"><button type="button">Ajude-nos a casar</button></a>
    <a href="#faca-nos_uma_doação"><button type="button">Faça-nos uma doação</button></a><a
        href="#ajude-nos_a_casar"><button type="button">Ajude-nos a casar</button></a>
    <a href="#veja_nossa_lista"><button type="button">Veja nossa lista</button></a><a href="#ajude-nos_a_casar"><button
            type="button">Ajude-nos a casar</button></a>
</section>
<section id=flower>
    <div>
        <img src="static/img/flor.png" alt="flor">
        <p>Você é bem vindo em nossa festa, queremos que seja um tempo de louvor e honra ao nosso Deus que fez todas
            essas coisas até aqui e continuará fazendo, “Porque Dele, por meio Dele e para Ele são todas as coisas</p>
    </div>
</section>
<section id=save>
    <div>

    </div>
</section>
<section id=nossas-aventuras>
    <div>
        <h3>Nossas Aventuras</h3>
        <p> ...e esse só foi o início :) </p>
        <div>

        </div>
    </div>
</section>
<section id=final>
    <div>
        <p>Não esquece, tudo que postar com a gente</p>
        <h3>use a nossa hashtag</h3>
    </div>
    <div>
        <h2>#filipeelore </h2>
    </div>
</section>
{% endblock %}