{% extends 'base.html' %}
{% block title %}- Página Inicial{% endblock %}
{% block content %}

<section id="banner">
    <div class="container">
        <img src="static/img/IMG_4743-min.jpg" alt="Compromisso_1">
        <div class=yellow_circle>
            <h2>13.03.2021</h2>
            <a href="#save-the-date"><button type="button">Save the date</button></a>
        </div>
    </div>
</section>

<section id="gift">
    <div>
        <a href="#ajude-nos_a_casar"><button class="um" type="button">Ajude-nos a casar</button></a>
        <a href="#faca-nos_uma_doação"><button class="dois" type="button">Faça-nos uma doação</button></a>
        <a href="#veja_nossa_lista"><button class="tres" type="button">Veja nossa lista</button></a>
    </div>
    <img src="static/img/gift.png" alt="gift">

</section>

<section id="breve">
    <p>Em Breve mais novidades sobre nós em nosso site.</p>
</section>
{% endblock %}